<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>TEMPLATE CONTENT</div>
    <script>
      window.nodeId = {{ node_id }};
    </script>
    <script src="{{ app_root }}/index.js"></script>
  </body>
</html>
